#top {
    background: lightblue;
    height: 300px;
    display: flex;
    align-items: center;
}

#top .left {
    background: red;
    height: 150px;
    margin: 30px;
    flex-grow: 0.7;
}

#bottom {
    background: lightgreen;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

#bottom div {
    background: blue;
    height: 200px;
    width: 50px;
    margin-left: 50px;
    margin-right: 50px;
    
}

#bottom div:nth-child(2) {
    background: pink;
    width: 100px;
    flex-grow: 1;
    
}