#top {
    background: red;
    height: 200px;
    width: 100%;
}

#center {
    background: green;
    height: 200px;
    width: 70%;
    margin: auto;
    margin-top: -50px;
    box-shadow: 0 0px 0px black;
    animation: slidein alternate infinite 1s;
}

@keyframes slidein {
    from {
        margin-top: 50px;
    }

    to{
        margin-top: -50px;
        box-shadow: 0 50px 50px black;
    }
}

#center:slidein {
    background: lightseagreen;
    box-shadow: 0 50px 50px black;

}

#bottom {
    background: blue;
    height: 400px;
    width: 100%;
    display: flex;
}