#nav {
    background: grey;
    display: flex;
    flex-direction: column;


}

.logo {
    background: lightblue;
    height: 60px;
    width: 60px;
    margin: 10px;
}

.menu {
    display: flex;
    align-items: stretch;
    flex-direction: column;


}

.menu-item {
    background: lightgreen;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-grow: 1;
    text-transform: uppercase;
    /* bajerki */
    animation: appear 2s;
    
}



@media (min-width: 600px) {
    #nav {
        height: 70px;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-direction: row;
        
    }
    
  /*   .logo {

    } */
    
    .menu {
        flex-grow: 0.5;
        flex-direction: row;
    
    }
    
    /* .menu-item {
        
    } */
}

@keyframes appear {
    from {
        opacity: 0;
        margin-top: -100px;
        
    }

    

}