#pierwsze .top{
    background: red;
    height: 200px;
}

#pierwsze .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#pierwsze .bottom div {
    background: green;
    height: 500px;
    width: 30%;

}

