.top {
    background: red;
    height: 200px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom div {
    background: green;
    height: 500px;
    width: 30%;
}