
#drugie .top {
    height: 300px;
    display: flex;
    justify-content: space-between;
}
#drugie .top .left {
    background: red;

    width: 60%;
    margin: 20px;

}
#drugie .top .right {
    background: red;

    width: 40%;
    margin: 20px;

}

#drugie .bottom {
    display: flex;
    background: green;
    height: 300px;
    margin: 20px;
    justify-content: flex-end;
    align-items: center;

}

#drugie .bottom .inbottom {
    margin: 20px;
}

#drugie .bottom .inbottom div {
    background: blue;
    height: 50px;
    width: 300px;
    margin: 20px;
}