
.top {
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.top .left {
    background: red;
    width: 60%;
    margin: 20px;

}
.top .right {
    background: red;
    width: 40%;
    margin: 20px;

}

.bottom {
    display: flex;
    background: green;
    height: 300px;
    margin: 20px;
    justify-content: flex-end;
    align-items: center;

}

.bottom .inbottom {
    margin: 20px;
}

.bottom .inbottom div {
    background: blue;
    height: 50px;
    width: 300px;
    margin: 20px;
}

/* pierdoly */
div:hover{
    box-sizing: border-box;
    border: 5px dotted black;
}